appdirs==1.4.4
asgiref==3.2.7
beautifulsoup4==4.9.1
bs4==0.0.1
cairocffi==1.1.0
CairoSVG==2.4.2
certifi==2020.6.20
cffi==1.14.2
chardet==3.0.4
cssselect2==0.3.0
defusedxml==0.6.0
distlib==0.3.0
Django==3.0.6
et-xmlfile==1.0.1
filelock==3.0.12
html5lib==1.1
idna==2.10
jdcal==1.4.1
numpy==1.18.4
openpyxl==3.0.3
pandas==1.0.4
pdfkit==0.6.1
Pillow==7.2.0
pycparser==2.20
PyPDF2==1.26.0
Pyphen==0.9.5
python-dateutil==2.8.1
pytz==2020.1
reportlab==3.5.48
requests==2.24.0
six==1.15.0
soupsieve==2.0.1
sqlparse==0.3.1
tablib==0.9.3
tinycss2==1.0.2
urllib3==1.25.10
virtualenv==20.0.21
virtualenvwrapper-win==1.2.6
WeasyPrint==51
webencodings==0.5.1
xhtml2pdf==0.2.4
